
if TREE_CENTRAL_NANO

config ZMK_KEYBOARD_NAME
	default "Tree.len()"

config ZMK_SPLIT
	default y

config ZMK_SPLIT_ROLE_CENTRAL
	default y

config ZMK_BLE_SPLIT_CENTRAL_BROADCAST_HID
  default y

config  ZMK_STUDIO
	default y

config  ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
  default 3

endif