# nRF52 DK NRF52832 board configuration

config BOARD
	default "shared"
	
config BT_CTLR
default BT

config ZMK_BLE
	default y

config ZMK_BLE_CLEAR_BONDS_ON_START
	default y

if NRF52_LEFT

config ZMK_KEYBOARD_NAME
	default "shared"

#config ZMK_SPLIT_ROLE_CENTRAL
#	default y
	
endif

if NRF52_LEFT || NRF52_RIGHT

#config ZMK_SPLIT
#	default y

endif