# nRF52833 DK NRF52833 board configuration

config BOARD
	default "tree"

config BT_CTLR
default BT

config ZMK_BLE
	default y

config ZMK_BLE_CLEAR_BONDS_ON_START
	default y

config ZMK_KEYBOARD_NAME
 	default "tree"


CONFIG_CLOCK_CONTROL=y
CONFIG_CLOCK_CONTROL_NRF=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y